<section class="section service-2 pt-2 " style="background-color: #a15c5c15;">
  <div class="container mb-4">
    <div class="col-lg-12 section-title text-center">
      <h2 class="mb-4" style="color: #000000;" translate>donationprocess.title</h2>
      <div class="divider mx-auto my-4"></div>
      <p class="text-uppercase letter-spacing" id="pragraph" translate>donationprocess.paragraph</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-block mb-5">
          <img src="/assets/images/registration.jpg" alt="" class="img-fluid">
          <div class="content">
            <h4 class="mt-4 mb-2 title-color" style="color: #e00627;" translate>
              <mat-icon>filter_1</mat-icon>
              donationprocess.registration
            </h4>
            <p class="mb-4" translate>donationprocess.p1</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-block mb-5">
          <img src="/assets/images/searching.jpg" alt="" class="img-fluid">
          <div class="content">
            <h4 class="mt-4 mb-2  title-color" style="color: #e00627;" translate>
              <mat-icon>filter_2</mat-icon>
              donationprocess.screening
            </h4>
            <p class="mb-4" translate>donationprocess.p2</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-block mb-5">
          <img src="/assets/images/service/donation.jpg" alt="" class="img-fluid">
          <div class="content">
            <h4 class="mt-4 mb-2 title-color" style="color: #e00627;" translate>
              <mat-icon>filter_3</mat-icon>
              donationprocess.donation
            </h4>
            <p class="mb-4" translate>donationprocess.p3</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>