<section class="banner" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">

			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">


					<div class="owl-carousel owl-theme">
						<div class="item item-first">
							<div class="caption">
								<div class="col-md-offset-1 col-md-10">
									<h2 class="mb-3 mt-5" style="color:#d90429 " translate>banner.title</h2>
									<p class=" mb-4 pr-5 letter-spacing " style="font-weight: 600;" translate>
										banner.paragraph</p>
									<p routerLink="/addDonar" class="btn btn-main-2 btn-icon btn-round-full m-5"
										id="donor" translate>
										banner.donate</p>
									<p routerLink="/addNeeder" class="btn btn-main-2 btn-icon btn-round-full m-5"
										id="needy" translate>
										banner.order</p>

								</div>

							</div>

						</div>



					</div>
				</div>

			</div>

		</div>

	</div>

</section>

<a href="#" class="go-down">
	<i class="fas fa-angle-double-down fa-2x"></i>
</a>