<section class="section service  ">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-7 text-center">
        <div class="section-title">
          <h2 style="color: #000000;" translate>healthbenefits.title</h2>
          <div class="divider mx-auto my-4"></div>
          <p class=" letter-spacing " style="font-weight: 600;" translate>healthbenefits.p1</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-8">
        <img class="benefits-img" src="/assets/images/service/benefits.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-8 col-sm-8">
        <div class="service-item mb-4">
          <ul class="list-unstyled department-service">
            <li class="text content mb-4 mt-3 mb-3" translate>
              <mat-icon style="color: red;">check</mat-icon> healthbenefits.p2
            </li>
            <li class="text content mb-4 mt-3 mb-3" translate>
              <mat-icon style="color: red;">check</mat-icon> healthbenefits.p3
            </li>
            <li class="text content mb-4 mt-3 mb-3" translate>
              <mat-icon style="color: red;">check</mat-icon> healthbenefits.p4
            </li>
            <li class="text content mb-4 mt-3 mb-3" translate>
              <mat-icon style="color: red;">check</mat-icon> healthbenefits.p5
            </li>
            <li class="text content mb-4 mt-3 mb-3" translate>
              <mat-icon style="color: red;">check</mat-icon> healthbenefits.p6
            </li>
            <li class="text content mb-4 mt-3 mb-3" translate>
              <mat-icon style="color: red;">check</mat-icon> healthbenefits.p7
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="spikes">

</div>
<br><br><br><br><br>