<!-- footer Start -->
<footer class="footer section">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 mr-auto col-sm-6">
        <div class="widget mb-5 mb-lg-0">
          <a class="navbar-brand" href="index.html">
            <h2 style="margin-top: 10px ;"><span style="color:#ffffff ;">HAY</span>AH</h2>
          </a>
          <img src="/assets/images/logo1.png">


          <div class="text-center py-3 ICONS">
            <a href="https://wwww.facebook.com" class="px-1"> <img
                src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt=""> </a>
            <a href="https://www.google.com" class="px-1"> <img
                src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
                alt=""> </a>
            <a href="https://www.github.com" class="px-1"> <img
                src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" alt=""> </a>
          </div>

        </div>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="widget mb-5 mb-lg-0">
          <h4 class=" mb-3 text-uppercase letter-spacing" style="color: #ffffff;" translate>footer.menu</h4>
          <div class="divider mb-4"></div>
          <div class="box">
            <ul class="links">
              <li><a routerLink="/home" translate>footer.home</a></li>
              <li><a routerLink="/about" translate>footer.aboutus</a></li>
              <li><a href="/service" translate>footer.sections</a></li>
              <li><a href="/blog" translate>footer.blog</a></li>
              <li><a routerLink="/contact" translate>footer.contact</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6 Getting">
        <div class="widget widget-contact mb-5 mb-lg-0">
          <h4 class="text-uppercase letter-spacing mb-3  " style="color: #ffffff;" translate>footer.get</h4>
          <div class="divider mb-4"></div>

          <div class="box">

            <div class="line">
              <i class="fas fa-map-marker-alt fa-fw"></i>
              <div class="info" translate>footer.location</div>
            </div>

            <div class="line">
              <i class="far fa-clock fa-fw"></i>
              <div class="info" translate>footer.time</div>
            </div>
            <br>
            <div class="line">
              <i class="fas fa-phone-volume fa-fw"></i>
              <div class="info">
                <span>+20123456789</span>
              </div>
            </div>
            <br>
            <div class="line">
              <i class="fa-solid fa-envelope"></i>
              <div class="info">Hayah@blood.com</div>
            </div>
          </div>





          <div class="row">
            <div class="col-lg-4">
              <a class="backtop js-scroll-trigger" href="#top">
                <i class="icofont-long-arrow-up"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 Supporting">
        <div class="widget mb-5 mb-lg-0">
          <h4 class=" mb-3 text-uppercase letter-spacing " style="color: #ffffff;" translate>footer.support</h4>
          <div class="divider mb-4"></div>
          <div class="box">
            <ul class="links">
              <li><a href="#" translate>footer.term</a></li>
              <li><a href="#" translate>footer.privacy</a></li>
              <li><a href="#" translate>footer.sup</a></li>
              <li><a href="" translate>footer.que</a></li>
              <li><a routerLink="/contact" translate>footer.cont</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



<!--
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="widget mb-5 mb-lg-0">
    <h4 class=" mb-3 text-uppercase letter-spacing" style="color: #e00627;">Support</h4>
    <div class="divider mb-4"></div>
    <ul class="list-unstyled footer-menu lh-35">
      <li class="text-uppercase"><a href="#">Terms & Conditions</a></li>
      <li class="text-uppercase"><a href="#">Privacy Policy</a></li>
      <li class="text-uppercase"><a href="#">Company Support </a></li>
      <li class="text-uppercase"><a href="#">FAQuestions</a></li>
      <li class="text-uppercase"><a href="#">Company Licence</a></li>
    </ul>
  </div>
</div> -->
