<section class="bg-1" style="padding-top: 100px;
margin-top: 110px;
padding-bottom: 100px;
background-color: #a15c5c15;">
  <!-- <div class="overlay"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize  text-lg" style="color: #cf2121;" translate>about.titel</h1>
          <span class="text-uppercase mt-10  pr-5 letter-spacing " style="font-weight: 600;"
            translate>about.subTitel</span>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section doctor-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div>
          <img src="/assets/images/bg/1.svg" alt="" class="img-fluid w-100">
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="doctor-details mt-4 mt-lg-0">
          <h2 class="text-md" style="color:#e00627 " translate>about.who</h2>
          <div class="mb-4" style="height: 3px;
          width: 50px;
          background: #e00627;"></div>
          <p style="font-weight: 600; font-size:large;" translate>about.p1</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section doctor-single" style="background-color: #a15c5c15;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="doctor-details mt-4 mt-lg-0">
          <h2 class="text-md" style="color:#e00627 " translate>about.motivation</h2>
          <div class="my-4" style="height: 3px;
          width: 50px;
          background: #e00627;"></div>
          <p style="font-weight: 600; font-size:large;" translate>about.p2</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div>
          <img src="/assets/images/bg/2.svg" alt="" class="img-fluid w-100">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section doctor-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div>
          <img src="/assets/images/bg/2.svg" alt="" class="img-fluid w-100">
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="doctor-details mt-4 mt-lg-0">
          <h2 class="text-md" style="color:#e00627 " translate>about.vision</h2>
          <div class=" my-4" style="height: 3px;
          width: 50px;
          background: #e00627;"></div>
          <p style="font-weight: 600; font-size:large;" translate>about.p3</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta-section">
  <div class="container">
    <div class="cta position-relative">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="counter-stat">
            <i class="icofont-doctor"></i>
            <h2 style="color:#ffffff " translate>about.help</h2>
            <p class="h3" style="font-weight: 600; font-size:large;" translate>about.p4</p>
            <h3 style="margin-top: 4px;" translate>about.share</h3>
            <div class="sotial">
              <a href="appoinment.html" target="_blank" class="btn btn-main-f btn-icon btn-round-full" style="background: #ffffff;
              color: rgb(0, 0, 0);
              border-color: #ffffff;" translate>about.face</a>
              <a href="appoinment.html" target="_blank" class="btn btn-main-m btn-icon btn-round-full" style="background: #ffffff;
              color: rgb(0, 0, 0);
              border-color: #ffffff;" translate>about.masse</a>
              <a href="appoinment.html" target="_blank" class="btn  btn-main-w btn-icon btn-round-full" style="background: #ffffff;
              color: rgb(0, 0, 0);
              border-color: #ffffff;" translate>about.wats</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>