@import '/src/scss/variables';
@import '/src/scss/mixins.scss';
@import '/src/scss/media-query.scss';
@import '/src/scss/typography';
@import '/src/scss/common.scss';
.sotial {
	a {
		margin: 5px;}}
.btn-main-f:hover {
	background: #006aff;
	color: #fff;
	border-color: #006aff;}
.btn-main-m:hover {
	background: #4586e1;
	color: #fff;
	border-color: #4586e1;}
.btn-main-w:hover {
	background: #00ff51;
	color: #fff;
	border-color: #00ff51;}
.cta {
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0;
  margin-bottom: 35%;
  color: #fff;
	&:before {
		position: absolute;
		content: "";
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background: rgba(34, 58, 102, .95);}}
.mb-30 {
	margin-bottom: 30px;}
.text-color-primary {
	color: $primary-color;}
.cta-section {
	margin-bottom: -80px;}
.cta-2 {
	background-position: center center;}
.cta-page {
	background-size: cover;
	position: relative;}
.counter-stat{
  background-color: #94172a;}