<section class="section service  pt-5" style="background-color: #a15c5c15;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center">
        <div class="section-title mb-4">
          <h2 style="margin-top: 40px; color: #000000; font-weight: normal;" translate>donorstatistics.title</h2>
          <div class="divider mx-auto my-4"></div>
        </div>
      </div>
    </div>
    <div class="row service-card">

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="service-item-card d-flex align-items-center">
            <h4 class="mt-3 mb-3"></h4>
            <label class="danger">{{A1}}</label><span class="span-type-blood">
              <span style="margin: 5px;">-</span>A</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="service-item-card d-flex align-items-center">
            <h4 class="mt-3 mb-3"></h4>
            <label class="danger">{{A2}}</label><span class="span-type-blood">
              <span style="margin: 5px;">+</span>A</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="service-item-card d-flex align-items-center">
            <h4 class="mt-3 mb-3"></h4>
            <label class="danger">{{B1}}</label><span class="span-type-blood">
              <span style="margin: 5px;">-</span>B</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="service-item-card d-flex align-items-center">
            <h4 class="mt-3 mb-3"></h4>
            <label class="danger">{{B2}}</label><span class="span-type-blood">
              <span style="margin: 5px;">+</span>B</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="service-item-card d-flex align-items-center">
            <h4 class="mt-3 mb-3"></h4>
            <label class="danger">{{AB1}}</label><span class="span-type-blood">
              <span style="margin: 5px;">-</span>AB</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="service-item-card d-flex align-items-center">
            <h4 class="mt-3 mb-3"></h4>
            <label class="danger">{{AB2}}</label><span class="span-type-blood">
              <span style="margin: 5px;">+</span>AB</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="service-item-card d-flex align-items-center">
            <h4 class="mt-3 mb-3"></h4>
            <label class="danger">{{O1}}</label><span class="span-type-blood">
              <span style="margin: 5px;">-</span>O</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="service-item-card d-flex align-items-center">
            <h4 class="mt-3 mb-3"></h4>
            <label class="danger">{{O2}}</label><span class="span-type-blood">
              <span style="margin: 5px;">+</span>O</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="spikes">

</div>
<br><br><br><br><br>